{% extends "layout.html" %}

{% block content %}
<main>
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Unsere Leistungen</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Webdesign</h4>
                <p>Webseiten sind das A und O im Geschäft, gerne erstellen wir Ihnen diese Kostengünstig.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Software Entwicklung</h4>
                <p>Geschäftsbezogne Software ist der Grundpfeiler für Ihren erfolg.</p>
                <p>Sprechen Sie mit uns damit wir für Sie eine passende Lösung entwickeln.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Support</h4>
                <p>Wir machen Ihr IT Problem zu unseren. Dabei spielt es keine Rolle ob Hardware oder Software von uns sind</p>

            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
            <div>
                <h4 class="fw-bold mb-0">IoT</h4>
                <p>Das vernetzte Heim ist Mittlerweile standart. Gerne unterstützen wir Sie dabei von der Planung bis zu Installation</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Schnelle Bearbeitung</h4>
                <p>Wir werden Ihr anliegen immer Zeitnahe bearbeiten.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Remote Service</h4>
                <p>Ihre Betriebssystem hat wieder mal paar macken? Es lohnt nicht immer das wir raus kommen oder Sie zu uns
                über Fernwartung können wir meistens schon weiter helfen.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Vorort Service</h4>
                <p>Sie können Ihre Hardware nicht zu uns bringen? Kein Problem gerne kommen wir auch zu Ihnen</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Reparaturen</h4>
                <p>Smartphone,Tablet, Laptop oder PC haben einen schaden? Wir reparieren es.</p>
            </div>
        </div>
    </div>
</div>



    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Border hero with cropped image and shadows</h1>
                <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="bootstrap-docs.png" alt="" width="720">
            </div>
        </div>
    </div>
</main>
{% endblock content %}