{% extends "layout.html" %}

{% block content %}
<main>
   <!--- Zusammenfassung Anfang -->
<div class="container px-4 py-5" id="icon-grid">
    <h2 class="pb-2 border-bottom">Unsere Leistungen insgesamt</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Webdesign</h4>
                <p>Webseiten sind das A und O im Geschäft, gerne erstellen wir Ihnen diese Kostengünstig.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Software Entwicklung</h4>
                <p>Geschäftsbezogene Software ist der Grundpfeiler für Ihren erfolg.</p>
                <p>Sprechen Sie mit uns damit wir für Sie eine passende Lösung entwickeln.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Support</h4>
                <p>Wir machen Ihr IT Problem zu unseren. Dabei spielt es keine Rolle ob Hardware oder Software nicht von uns sind</p>

            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
            <div>
                <h4 class="fw-bold mb-0">IoT</h4>
                <p>Das vernetzte Heim ist mittlerweile standard. Gerne unterstützen wir Sie dabei von der Planung bis zu Installation</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Schnelle Bearbeitung</h4>
                <p>Wir werden Ihr anliegen immer Zeitnahe bearbeiten.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#toggles2"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Remote Service</h4>
                <p>Ihre Betriebssystem hat wieder mal paar macken? Es lohnt nicht immer das wir rauskommen oder Sie zu uns
                über Fernwartung können wir meistens schon weiter helfen.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#geo-fill"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Vorort Service</h4>
                <p>Sie können Ihre Hardware nicht zu uns bringen? Kein Problem gerne kommen wir auch zu Ihnen</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#tools"/></svg>
            <div>
                <h4 class="fw-bold mb-0">Reparaturen</h4>
                <p>Smartphone,Tablet, Laptop oder PC haben einen schaden? Wir reparieren es.</p>
            </div>
        </div>
    </div>
</div>
<!--- Zusammenfassung Ende -->
<!-- Content Section Anfang -->

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Webdesign: Der erste Eindruck zählt</h1>
                <p class="lead">Menschen überschätzen gerne den Wert einer einzelnen Maßnahme, aber unterschätzen den
                    langfristigen Effekt einer orchestrierten Gesamtkomposition.</p> <p> Bei einer wirklich guten Websites kommt
                    einiges zusammen: Sicherheit und Datenschutz, brillantes Design und echte Kommunikation, gezielte
                    Kundenansprache, Übersichtlichkeit und exzellente Funktion. Schnell und immer aktuell.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden ">
                <img class="rounded-lg-3" src="../../static/images/Static website-amico.svg" alt="Webseite Static" width="400">
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-rg">
                <img class="rounded-lg-3" src="../../static/images/Product teardown-amico.svg" alt="Webseite Static" width="400">
            </div>
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Reparatur: Qualität ist uns wichtig</h1>
                <p class="lead">Qualität statt quantität und keine halben Sachen </p> <p> Vor jeder Reparatur wird in unserer Fachwerkstatt eine
                Diagnose Ihres Handy, Tablett, Laptop oder PC durchgeführt, wo der aktuelle Zustand Ihres Geräts begutachtet und eine komplette
                Durchsicht mit Fehleranalyse durchgeführt wird. Die im Einzelnen gebuchten Diagnosekosten werden mit
                einer von Ihnen beauftragten Folgereparatur verrechnet.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                </div>
            </div>

        </div>
    </div>
       <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
         <!--   <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-rg">
                <img class="rounded-lg-3" src="../../static/images/Mobile user-amico.svg" alt="Webseite Static" width="400">
            </div>
          -->
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">Kontakt</h1>
                {% include '_messages.html' %}
                            {% from "_formhelpers.html" import render_field %}
                    <form method="post" enctype="multipart/form-data">
                        <div>
                            {{ render_field(form.Vorname , class="form-control") }}
                            {{ render_field(form.Nachname , class="form-control") }}
                            {{ render_field(form.email, class="form-control") }}
                            {{ render_field(form.betreff, class="form-control") }}
                            {{ render_field(form.nachricht, class="form-control") }}

                        </div>
                         <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                                <p><input type=submit value="Absenden" class="btn btn-info mt-2"></p>
                         </div>

                    </form>

            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden ">
                <img class="rounded-lg-3" src="../../static/images/Mobile user-amico.svg" alt="Webseite Static" width="400">
            </div>
        </div>

        </div>


    <!-- Content Section Ende -->

</main>
{% endblock content %}